* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.content{
     position: relative; 
    border: 1px solid gray;
    border-radius: 5px;
    width: 700px;
    height: 345px;
    /* display: flex;
    justify-content: space-between; */
    
  
}

.fa-share-nodes{
    font-size: 1.4em;
    color: #70757a;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    margin: .7em;
}

.content_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
    position: relative;
    padding: 1em;
}

#result{
    color: #bdc1c6;
    font-size: 46px;
    display: table-cell;
 
}

.input_container{
     display: flex;
    flex-direction: column; 
}

input{    
    background: #fff;
    color: #202124;
    height: 30px;
    font-size: 18px;
    border: none;
    width: 10em;   
    border-bottom: 3px solid #bdc1c6;
    margin-bottom: .7em;
}

input:focus{
    border-bottom-color: #1a73e8;
    outline: none;
}

button{
    width: 100%;
    background-color: #1a73e8;
    color: white;
    cursor: pointer;
    height: 48px;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 14px;
    border: none;
}

.fa-angle-down{
    color: #70757a;
    text-align: center;
    width: 100%;
    margin-top: 1em; 
    cursor: pointer;
}